*.o
*.swp
Makefile
a.out
autom4te.cache
darkstat-*
hex-ify
c-ify
config.h
config.h.in
config.log
config.status
configure
configure.lineno
darkstat
darkstat.8
graphjs.h
stylecss.h
favicon.h
addr_test
linktypes_test
